<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @papel.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @papel.descricao %>
</p>

<p>



</p>


<%= link_to 'Editar', edit_papels_path(@papel) %> |
<%= link_to 'Voltar', papels_path %>
