<h1>Listando Equipes</h1>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipes.each do |equipe| %>
      <tr>
        <td><%= equipe.nome %></td>
        <td><%= equipe.descricao %></td>
        <td><%= link_to 'Mostrar', equipe %></td>
        <td><%= link_to 'Editar', edit_equipes_path(equipe) %></td>
        <td><%= link_to 'Apagar', equipe, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Nova Equipe', new_equipes_path, class: "btn btn-primary" %>
