<h1>Listando Integrantes</h1>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Cpf</th>
      <th>Endereco</th>
      <th>Telefone</th>
      <th>Papel</th>
      <th>Equipe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profissionals.each do |profissional| %>
      <tr>
        <td><%= profissional.nome %></td>
        <td><%= profissional.email %></td>
        <td><%= profissional.cpf %></td>
        <td><%= profissional.endereco %></td>
        <td><%= profissional.telefone %></td>

        <td><%= if profissional.papel
          profissional.papel.nome 
                end %></td>
        <td><%= if profissional.equipe
          profissional.equipe.nome 
                end %></td>
        <td><%= link_to 'Mostrar', profissional %></td>
        <td><%= link_to 'Editar', edit_profissionals_path(profissional)%></td>
        <td><%= link_to 'Apagar', profissional, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Novo Integrante', new_profissionals_path, class: "btn btn-primary" %>
